/*

Colors used in this project:

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343

Fonts imported from Google:
font-family: 'Roboto', sans-serif;
font-family: 'Merriweather', serif;
https://fonts.google.com/?selection.family=Merriweather:300,300i,400,400i,700%7CRoboto:300,300i,400,400i
*/


body {
  font-family: 'Merriweather', serif;
  background-color: black;
  margin: auto;
  width: 1280px;
}
.nav_fixed_header {
  position: fixed;
  top: 0;
  width: 1280px;
  z-index: 20;
}
.navigation_bar {
  background-color: #FFFFFF;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 1280px;
}
.navigation_bar a{
  color: #2B2F26;
  font-family: 'Roboto', sans-serif;
  padding: 0 20px;
  text-transform: uppercase;
}
#logo {
margin-left: 10px;
height: 50px;
position: absolute;
left: 10px;
}
.wrapper {
    background-color: #F2F1E8;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 1280px;
    margin-top: 50px;
}
.content_title h1{
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
    margin: 40px 0px;
}
.content_title h2 {
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  margin-top: -15px;
}
.content_list {
  display: flex;
  flex-flow: row;
}
.list_first_row {
  height: 400px;
}
.list_second_row {
  margin-top: -20px;
  height: 280px;
}

.product {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin: 20px;
  align-items: flex-end;
  flex-flow: row;
  height: auto;
  min-width: 150px;
}

.product > span {
  color: #efe3bb;
  background-color: #2B2F26;
  margin-left: 0px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

#product-1 {
  flex-grow:3;
  background-image: url(./images/product-1.jpg);
}
#product-2 {
  flex-grow:1;
  background-image: url(./images/product-2.jpg);
}
#product-3 {
  flex-grow:1;
  background-image: url(./images/product-3.jpg);
}
#product-4 {
  flex-grow:1;
  background-image: url(./images/product-4.jpg);
}
#product-5 {
  flex-grow:1;
  background-image: url(./images/product-5.jpg);
}
#product-6 {
  flex-grow: 5;
  background-image: url(./images/product-6.jpg);
}
#product-7 {
  flex-grow:1;
  background-image: url(./images/product-7.jpg);
}

footer, footer > span {
  color: #efe3bb;
  background-color: #2B2F26;
  padding: 30px 10px;
}

#birdhouse {
  float: left;
  height: 100px;
  width: auto;
  padding: 10px 20px 20px 0px;
}
.content_article > * {
  padding: 0px 200px;
}

.content_article p {
  line-height: 2em;
  margin: 0px 20px;
}
.content_quote {
  clear: both;
}

#background-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./images/background-3.jpg);
  height: 300px;
  margin: 40px 0px;
}

.article_wrapper_aside {
  display: flex;
  flex-flow: row;
}
aside {
  line-height: 1em;
}
aside > img {
  width: 150px;
  height: 150px;
  margin: 20px 0px;

}

.form_div {
  position: relative;
  width: 800px%;
  height: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #F2F1E8;
  padding: 20px;

}

form {
  width: inherit;
}
input {
  border: none;
  background: none;
  font-size: inherit;
  border-bottom: 2px solid #968772;
  padding:5px 0;
  margin: 10px 0;
}
input#nameInput {
  width:100%;
}
input#emailInput {
  width:100%;
}
#signupButton {
  background-color: #968772;
  color: white;
  border: 0px;
  padding: 10px 30px;
  margin: 20px;

}
#background-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./images/background-2.jpg);
  height: inherit;
}
#newsletter_body {
  height: 100%;
}
#newsletter_div {
  margin: auto;
  padding: auto 10px;
  height: 600px;
  width: inherit;
}
h3, h4 {
  text-align: center;
}
