/*

Colors used in this project:

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343

Fonts imported from Google:
font-family: 'Roboto', sans-serif;
font-family: 'Merriweather', serif;
https://fonts.google.com/?selection.family=Merriweather:300,300i,400,400i,700%7CRoboto:300,300i,400,400i
*/

body {
  font-family: 'Merriweather', serif;

}
.nav_fixed_header {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: center;
  padding: 0;
}

.wrapper {
    background-color: #F2F1E8;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 1000px;
    margin: auto;
}

.navigation_bar {
  width: 1000px;
}
.navigation_bar nav {
  width: inherit;
  background-color: #FFFFFF;
  color: #2B2F26;
}
.content_title {
  margin-top: 105px;
}
